@use './variables' as *;

@mixin square-ratio {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

@mixin card-face {
  align-items: center;
  backface-visibility: hidden;
  border-radius: $radius-lg;
  bottom: 0;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
